* {
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebecf0;
  }

  .container-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    justify-content: center;
    align-items: center;
  }

.card2{
  --primary-background: rgb(29, 27, 27);
  --color-text-before: #fff;
}